.profile {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 148px);
  margin: 0 auto;
  background-color: #202020;
  padding-top: 148px;
  color: white;
}

.profile__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
  margin-bottom: 123px;
}

.profile__wrapper {
  max-width: 410px;
  width: 100%;
}

.profile__line {
  display: flex;
  justify-content: space-between;
}

.profile__line:first-child {
  border-bottom: #424242 solid 1px;
  padding-bottom: 16px;
}

.profile__line:last-child {
  padding-top: 16px;
}

.profile__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__links {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 220px;
  list-style: none;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.profile__link-link {
  text-decoration: none;
}

.profile__link-edit {
  font-weight: 400;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile__link-btn {
  background-color: unset;
  border: unset;
  color: white;
  padding: 0;
}

.profile__link-edit:hover {
  opacity: 0.5;
}

.profile__link-quit {
  font-weight: 500;
  color: #EE3465;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile__link-quit:hover {
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  .profile__line {
    margin: 0 30px;
  }
  .profile__links {
    margin-top: auto;
    margin-bottom: 40px;
  }
  .profile__link-edit {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__link-quit {
    font-size: 12px;
    line-height: 15px;
  }
}
