.header-main__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  padding: 0 0 23px 0;
  border-bottom: solid white 1px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .header-main__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 28px 0;
  }
  .techs .header-main__title {
    border-bottom: solid black 1px;
  }
}
