.navigation__link {
  text-decoration: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.navigation__link:hover {
  opacity: 0.5;
}

.navigation__link:first-child {
  margin-right: 16px;
}