.portfolio {
  max-width: 100%;
  margin: 0 auto;
  color: white;
  background-color: #202020;
  padding-bottom: 125px;
}

.portfolio__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin-bottom: 50px;
}

.portfolio__link-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: inherit;
  text-decoration: none;
}

.portfolio__link-block:hover {
  opacity: 0.5;
}

.portfolio__link-block:not(:last-child) {
  border-bottom: solid #424242 1px;
  margin-bottom: 20px;
}

.portfolio__link-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  margin: 0 0 19px 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__link-title {
    font-size: 28px;
  }
}